@model Webshop.Models.Components.ShoppingCartViewModel

@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row-cols-6">
        <h3 class="my-5">
            Shopping cart
        </h3>
    </div>
</div>
<div class="container float-end">
    @if (@Model.ShoppingCart.GetShoppingCartItems().Any())
    {
        <div class="row-cols-6">
            <a class="btn btn-danger" asp-controller="ShoppingCart" asp-action="ClearCart">
                <i class="bi-cart-x-fill"></i> Empty Cart
            </a>
        </div>
    }
</div>


@**Cart summary **@
<div class="row gx-3 ">
    <div></div>
    <div class="col-8">

        @if (Model != null)
        {
            foreach (var line in Model.ShoppingCart.ShoppingCartItems)
            {
                <div class="card shopping-cart-card mb-2">
                    <div class="row">
                        <div class="col-md-4">
                            @* <img src="@line.Product.ImageLink" class="" alt="@line.Product.Name"> *@
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <a class="text-capitalize text-decoration-none" asp-controller="Products" asp-action="ProductDetails" asp-route-id="@line.Product.ProductId">
                                    <h5 class="card-text">@line.Amount x @line.Product.Name</h5>
                                </a>
                                <div class="d-flex justify-content-between">
                                    <h6 class="text-truncate">@line.Product.Description</h6>
                                    <h2>@line.Product.Price.ToString("c")</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a asp-controller="ShoppingCart" asp-action="RemoveFromShoppingCart" asp-route-id="@line.Product.ProductId" class="row-cols-2 btn btn-outline-danger">
                        <div class="row-cols-2 container-fluid"><i class="bi bi-bag-dash-fill"></i> Remove from cart</div>
                    </a>
                </div>
            }

            @**Cart empty message **@
            if (!Model.ShoppingCart.ShoppingCartItems.Any())
            {
                <div class="card shopping-cart-card mb-2">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body">
                                <h5 class="card-text">Your shopping cart is empty</h5>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>

    @**Shopping cart Total box **@
    <div class="col-4">
        <div class="card shopping-cart-card p-3">
            <div class="row">
                <h4 class="col">Total:</h4>
                <h4 class="col text-end">@Model.ShoppingCartTotal.ToString("c")</h4>
            </div>
            <hr/>
            <div class="text-center d-grid">
                @if (Model != null)
                {
                    if (Model.ShoppingCart.ShoppingCartItems.Any())
                    {
                        <a asp-controller="Order" asp-action="Checkout" class="btn btn-success"><i class="bi bi-bag-check-fill"></i> Checkout</a>
                    }
                }
            </div>
        </div>
    </div>
</div>