@page "/product/{ProductId:int}"
@using LogicLayer.Functionalities.ShoppingCart
<h3>Details</h3> 

<PageTitle>Details</PageTitle>
 
@inject NavigationManager NavigationManager

@inject IViewProduct _viewProduct
@inject IProductContainer _container; 
@inject IAddToCart _Cart;
@* *@
@* <p> </p> *@
@* *@
@*     <img src="@_product.ImageLink"/> *@
@*     <br /> *@
@*     @_product.Name *@
@*     <br /> *@
@*     @_product.Brand *@
@*     <br /> *@
@*     @_product.Price.ToString("c") *@
@*     <br /> *@
@*     <br /> *@
@*     @_product.Description *@

<div class="card"style="width:28rem;">
    <div class="card-body">
        <img src="@_product.ImageLink"/>
        <h5 class="card-title">@_product.Name</h5>
        <h6 class="card-subtitle mb-2text-muted">@_product.Brand</h6>
        <hr/>
        <p>
            Price:<label style="color:darkred">@_product.Price.ToString("c")</label>
        </p>
        <p class="card-text">@_product.Description</p>
    </div>
    <div>
        <button class ="btn btn-primary container-fluid" @onclick="AddToCart">Add To Cart</button>
    </div>
    <NavLink class ="" href="products">
    <button class ="btn btn-danger container-fluid">
        Back To Products
    </button>
    </NavLink>
</div>

@code{
    private Product _product;

    //Raw parameter below; Value of id is passed in from Url above
    [Parameter]
    public int ProductId { get; set; }

    //Method below is called when the parameter value above is set;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        if (ProductId > 0)
            try
            {
                {
                    _product = _viewProduct.GetProduct(ProductId);
                }
            }
            catch (Exception ex)
            {
                NavigationManager.NavigateTo("/ErrorPage");
            }

    }

    private void AddToCart()
    {
        //_Cart.GetProduct(_product.ProductId);
        NavigationManager.NavigateTo("/");
    }
}
    
